<a href="https://colab.research.google.com/github/tharun-7733/scheduling-maintainence-visits/blob/main/Scheduling_Visits_in_Medical_Infrastructure_Management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dataset from Kaggle

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("stratographics/predictive-maintenance-equipment-dataset-for-ml")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/stratographics/predictive-maintenance-equipment-dataset-for-ml?dataset_version_number=2...

100%|██████████| 470k/470k [00:00<00:00, 1.15MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/stratographics/predictive-maintenance-equipment-dataset-for-ml/versions/2

In [4]:
import os

# List all files in the dataset directory
print(os.listdir(path))

['PM Data Testing.xlsx', 'PM DATA Training.xlsx']

Exploring the loaded data and handlening targeted data

In [5]:
import pandas as pd
import os
train_path = os.path.join(path,"PM DATA Training.xlsx")
test_path = os.path.join(path,"PM Data Testing.xlsx")

train_df = pd.read_excel(train_path)
test_df = pd.read_excel(test_path)

print("Traing data loaded:",train_df.shape)
print("Testing data loaded:",test_df.shape)

Traing data loaded: (5000, 7)
Testing data loaded: (5000, 6)

In [6]:
print(train_df.head())
print(test_df.head())
print("\n  --TRAIN DATA INFO-- ")
train_df.info()

   UID      ProductType  Humidity  Temperature  Age  Quantity  MTTF
0    1         Extruder      5.88        66.17   13     39764     69
1    2  Pressure Cutter     42.76        40.29    4     45181    532
2    3         Extruder     76.62        52.08    4     70397     93
3    4             Pump     45.91        90.26   14     49470    183
4    5    Gauge Machine     78.87        58.56   12     45145    447
   UID      ProductType  Humidity  Temperature  Age   Quantity
0    1  Pressure Cutter     59.52        38.72     9     54611
1    2         Extruder     79.02        62.96     8     31495
2    3         Extruder     32.72        56.34     4     44849
3    4         Extruder     41.31        45.05     3     36675
4    5    Gauge Machine     12.19        39.02    14     77086

  --TRAIN DATA INFO--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UID          5000 non-null   int64
 1   ProductType  5000 non-null   object
 2   Humidity     5000 non-null   float64
 3   Temperature  5000 non-null   float64
 4   Age          5000 non-null   int64
 5   Quantity     5000 non-null   int64
 6   MTTF         5000 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 273.6+ KB

In [7]:
print(train_df.isnull().sum())#to check null

UID            0
ProductType    0
Humidity       0
Temperature    0
Age            0
Quantity       0
MTTF           0
dtype: int64

In [8]:
train_df.head()

   UID      ProductType  Humidity  Temperature  Age  Quantity  MTTF
0    1         Extruder      5.88        66.17   13     39764     69
1    2  Pressure Cutter     42.76        40.29    4     45181    532
2    3         Extruder     76.62        52.08    4     70397     93
3    4             Pump     45.91        90.26   14     49470    183
4    5    Gauge Machine     78.87        58.56   12     45145    447

In [19]:
# Check for duplicates
# print("\n-- Duplicates in training data --", train_df.duplicated().sum())

if 'MTTF ' in train_df.columns:
    print("\n-- MTTF (Mean Time To Predict) basic stats --")
    print(train_df['MTTF '].describe())
    print("\nMTTF value examples:")
    print(train_df['MTTF '].head(10).to_list())
else:
    print("\n 'MTTF' column not found — please print column names using train_df.columns to verify exact name.")

# Failure Type check (if present)
if 'Failure Type' in train_df.columns:
    print("\n--- Failure Type counts ---")
    print(train_df['Failure Type'].value_counts())

# Statistical summary (helps identify outliers or anomalies)
print("\n-- Statistical Summary of Numeric Features --")
print(train_df.describe().T)

-- MTTF (Mean Time To Predict) basic stats --
count    5000.00000
mean      316.26000
std       155.19153
min        50.00000
25%       180.00000
50%       315.00000
75%       453.00000
max       585.00000
Name: MTTF , dtype: float64

MTTF value examples:
[69, 532, 93, 183, 447, 479, 541, 352, 306, 173]

-- Statistical Summary of Numeric Features --
              count          mean           std       min         25%  \
UID          5000.0   2500.500000   1443.520003      1.00   1250.7500
Humidity     5000.0     52.344846     27.617841      5.00     28.3725
Temperature  5000.0     64.537680     17.523957     35.01     49.5375
Age          5000.0      8.994600      4.595911      1.00      5.0000
Quantity     5000.0  51222.923000  16526.348628  23007.00  36737.0000
MTTF         5000.0    316.260000    155.191530     50.00    180.0000

                   50%       75%       max
UID           2500.500   3750.25   5000.00
Humidity        52.310     76.58     99.98
Temperature     64.395     79.81     95.00
Age              9.000     13.00     17.00
Quantity     51061.000  65559.50  79995.00
MTTF           315.000    453.00    585.00